<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjq.programmer.dao.my.MyOrderItemMapper">

    <insert id="batchInsert">
        insert into order_item
        (id, product_id, order_id, product_name, product_photo, product_price, quantity, `sum`)
        values
        <foreach collection="orderItemList" item="item" separator=",">
            (#{item.id},#{item.productId},#{item.orderId},#{item.productName},#{item.productPhoto},#{item.productPrice},
            #{item.quantity},#{item.sum})
        </foreach>
    </insert>

</mapper>